/* Styles for the main container */
.app-container {
  position: relative; /* Absolute positioning of the background */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  height: 100vh; /* Set height to fill the viewport */
}

/* Background image styling */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./pasture.jpg'); /* Path to the background image */
  background-size: cover;
  background-position: center;
  z-index: -1; /* Ensure it's behind other content */
}

/* Styles for tabs */
.tabs {
  display: flex;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
}

.tab.active {
  background-color: #cccccc;
}

/* Container around login and register components */
.login-register-container {
  border: 2px solid #000000; /* Border style */
  padding: 20px; /* Padding around the components */
  margin: 20px auto; /* Center the container horizontally */
  max-width: 350px; /* Limit the width of the container */
  background-color: #8dc9fa; /* Background color */
  height: 150px;
  min-height: 150px;
}

/* Contact Us link styling */
.contact-us {
  position: fixed;
  bottom: 1px; /* Adjust this value as needed */
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px; /* Adjust font size as needed */
  padding: 10px 20px; /* Adjust padding as needed */
}

/* Container around the Contact Us link */
.contact-us-container {
  border: 2px solid #000000; /* Border style */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #8dc9fa; /* Background color of the bar */
  color: #fff; /* Text color */
  padding: 20px 0; /* Padding for the content */
  text-align: center; /* Center the content horizontally */
}

/* Container for the home page */
.home-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

/* Header container styling */
.header-container {
  display: flex;
  border: 2px solid #000000; /* Border style */
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 5%;
  background-color: #8dc9fa; /* Background color of the bar */
  color: #000000; /* Text color */
  font-size: 10px;
  padding: 0; /* Padding for the content */
  align-items: center; /* Center the content horizontally */
  justify-content: center;
}

/* Container for the display panel */
.display-panel-container {
  display: flex;
  border: 2px solid #000000; /* Border style */
  position: fixed;
  top: 5%;
  left: 0;
  width: 100%;
  height: 5%;
  background-color: #8dc9fa; /* Background color of the bar */
  color: #000000; /* Text color */
  font-size: 20px;
  padding: 0; /* Padding for the content */
  align-items: center; /* Center the content horizontally */
  justify-content: left;
}
